.navbar{
    background-color: #00203FFF;
    color:#101820FF;
    display:flexbox;
    justify-items: right;
    align-items: flex-end;
    margin-bottom:5px;
    
}

.basic-nav-dropdown{
    color:#101820FF;
}
div.dropdown-menu.show{
    background-color: #ADEFD1FF;
}

a.navbar{
    color:#101820FF;
}
.cart{
margin-left:998px;
}
