.navbar{
    background-color: #00203FFF;
    color:#101820FF;
    display:flex;
    margin-bottom:5px;
    
}

.basic-nav-dropdown{
    color:#101820FF;
}
div.dropdown-menu.show{
    background-color: #ADEFD1FF;
}

a.navbar{
    color:#101820FF;
}


@media (min-width:1395px){
    h2{
        font-size:10px;
    }
}