.header{
    background-color: #00203FFF;
    color:#ADEFD1FF;
    display:flex;
    align-items: center;
    
    
}

.App{
    background-color:#ADEFD1FF;
    color:#00203FFF;
   
}
.row{
    background-color:#ADEFD1FF;
}