.fixed-top{
  margin-bottom: 5px;
}
/* .heading{
    z-index: 100;
    position:relative;
    color:#ADEFD1FF;
    margin-left:550px;
} */


.App{
    background-color:#ADEFD1FF;
  
    
   
}
.row{
    background-color:#ADEFD1FF;
}

h2{
    color:#00203FFF;
    margin-left:500px;
    margin-right:500px;
}

@media all(min-width:500px){
    .row{
        background-color:pink;
    }
}